!!! 5
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title HTML5-based scientific models, visualizations, graphing, and probeware
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    != GoogleAnalytics::Configuration.configure.javascript
    %script{:type => "text/javascript"}
      $(document).ready(function() { if (!Modernizr.svg) { $('body').prepend('<div class="warning">Sorry, but you\'ll need to upgrade your browser to use the models and visualizations. <a href="browser-upgrade.html">Learn more</a> &raquo;</div>'); } });
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&subset=latin,greek,latin-ext", :rel => "stylesheet", :type => "text/css"}/
  %body
    #header
      %a#logo(href="http://www.concord.org/")
        %img(src="resources/layout/cc-logo.png")
      %h1<
        %a(href='../../..')> Lab
        \: HTML5-based scientific models, visualizations, graphing, and probeware

    #under-header-links
      = link_to 'Read Me', dashboard_readme_path
      &nbsp;&nbsp;
      %a{:href => 'license.html'} License
      &nbsp;&nbsp;
      %a{:href => 'https://github.com/concord-consortium/lab'} Github Repository
      &nbsp;&nbsp;
      %a{:href => 'https://github.com/concord-consortium/lab/issues'} Github Issues
      &nbsp;&nbsp;
      %a{:href => 'https://www.pivotaltracker.com/projects/442903'} Pivotal Tracker Project
      &nbsp;&nbsp;
      %a{:href => 'https://groups.google.com/group/lab-models'} Developer Mail List
      &nbsp;&nbsp;
      %a{:href => 'https://travis-ci.org/concord-consortium/lab'} CIS (travis-ci)
      &nbsp;&nbsp;
      %a{:href => 'experiments/navigator/index.html'} Browser Check

  = yield
      
